@import url('https://fonts.googleapis.com/css?family=Bahianita&display=swap');
@import url('https://fonts.googleapis.com/css?family=Nunito:300,400,600,700,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /*font-family: 'Bahianita';*/
  font-family: "Nunito";
}

h1 {
  width: 100%;
  text-align: center;
  margin-top: 15px;
  position: absolute;
  font-weight: bold;
  text-transform: uppercase;
}

.input-group .input-group-text {
  justify-content: center;
  width: 40px;
  color: bisque;
}

.form-control {
  outline: 0!important;
}

.row, .page img {
  max-width: 100%;
}

a {
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
}

a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
}

.page img{
    width: auto;
}

.page {
  background-size: cover!important;
  background-repeat: no-repeat!important;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: 1px solid bisque;
  -webkit-text-fill-color: bisque;
  transition: background-color 5000s ease-in-out 0s;
}